<!DOCTYPE html>
<html>
  <head>
    <title>Focus Time</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="header-pad">
      <img src="../media/prof.jpg" id="profpic"></img>
    </div>
    {{#each sessions}}
    <a href="event/{{name}}">
        <div class="event-card">
            <img src="media/chevron.png" alt="Go to timer">
            <h2>{{time}} min</h2>
            <h3>{{name}}</h3>
            <h3>{{date}}</h3>
        </div>
    </a>
    {{/each}}
    <div class="new-event-btn">
        <a href="newevent.html"><img src="media/plus.png" alt="Create new event"></a>
    </div><div class="calendar-btn">
        <a href="calendar.html"><img src="media/cal.png" alt="Go to calendar"></a>
    </div>

  </body>
</html>